body {
	background-color: black;
	color: white;
	display: flex;
	align-items: baseline;
}
h1, h2, h3 {
	text-align: center;
}
h2, h3 {
		background-color: orange;
}
section {
	border: 5px solid orange;
	padding: 30px;
	border-radius:  12px;
	width: 500px;
	margin: auto;
}
a {
	position: relative;
	right: -70%;
	color: white;
}
.box {
	border: 3px solid orange;
	border-radius: 12px;
	padding:7px;
}
#bill {
	width: 100%;
}
#comment_content, #message {
	width: 100%;
	background-color: lightgrey;
}
