body {
	background-color: black;
	color: white;
	max-width: 500px;
	margin :auto;
}
h1, h2, h3 {
	text-align: center;
}
h2, h3 {
		background-color: orange;
}
section {
	border: 5px solid orange;
	padding: 30px;
	border-radius:  12px;
}
a {
	position: relative;
	right: -70%;
	color: white;
}
#inscription, #connexion {
	border: 3px solid orange;
	border-radius: 12px;
	padding:7px;

}
